DEFAULT menu.c32
PROMPT 0
TIMEOUT 50
ONTIMEOUT wb

MENU TITLE PXE Boot Menu
MENU BACKGROUND 0000FF
MENU COLOR BORDER 37;44
MENU COLOR TITLE 37;44
MENU COLOR SEL 0;43
MENU COLOR UNSEL 37;44
MENU COLOR HELP 37;44


LABEL wb
        MENU LABEL Boot Workbench
        KERNEL vmlinuz
        INITRD initrd
        APPEND ip=dhcp netboot=nfs nfsroot=${server_ip}:${nfs_path}/ boot=live text forcepae
