services:
  build-iso:
    init: true
    build: .
    # this is needed to mount inside docker
    privileged: true
    # uncomment next two lines to test this
    environment:
      - DEBUG=true
      - USER=root
    volumes:
      # the only reason to write is just (probably):
      #   + cp -v settings.ini.example settings.ini
      #   'settings.ini.example' -> 'settings.ini'
      - .:/opt/workbench-script:rw
      - ./iso:/opt/workbench-script/iso:rw
