[settings]
url = http://localhost:8000/api/snapshot/
token = '1234'
# wb_sign_token = "27de6ad7-cee2-4fe8-84d4-c7eea9c969c8"
# url_wallet = "http://localhost"
# path = /path/to/save
# device = your_device_name
# # erase = basic
# legacy = True
